@font-face {
  font-family: reg;
  src: url(./font/Times-Regular.ttf);
}

body {
  background-color: #171717;
}

img#alvin {
  position: relative;
  top: -10px;
  left: -10px;
  width: 700px;
  display: inline-block;
}

h1#title {
  color: white;
  z-index: 1;
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  font-size: 53px;
  margin: 0 !important;
  padding: 0 !important;
  position:  relative;
  left: 700px;
  top: -500px;
  width: 400px;
}
h3#subtitle {
  color: white;
  z-index: 1;
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  font-size: 30px;
  margin: 0;
  padding: 0;
  position: relative;
  left: 700px;
  top: -500px;
}
nav {
  color: white;
  z-index: 1;
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  font-size: 18px;
  float: right;
}