html, body
{
    height: auto;
    width: 500px;
}
body {
  background-image: url(../images/alvin.png);
  background-size: 710px;
  background-repeat: no-repeat;
  background-color: #171717;
  color: white;
}
nav {
  position: relative;
  top: 0;
  left: 1040px;
}
a {
  text-decoration: none;
  color: white;
}
h1 {
  font-family: "Times New Roman", Times, serif;
  font-weight: lighter;
  color: white;
  position: relative;
  left: 710px;
  top: 210px;
  font-size: 53px;
}
h1#sub {
  left: 770px;
  top: 180px;
  font-size: 30px;
}
h1#copy {
  left: 860px;
  top: 190px;
  font-size: 20px;
}