	<style>
	@font-face {
  		font-family: 'Open Sans';
  		font-style: normal;
  		font-weight: 400;
  		src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
	h1.tent{
		font-size: 1em;
		font: 400 100px/1.3 'Arizonia', Helvetica, sans-serif;
  		color: black;
  		text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
		margin:0;
		padding:0;
	}
	.intro p{
		color: #fff;
	}

	/* Centered texts in each section
	.section{
		text-align:center;
	}

	/* Fixed header and footer.*/
	#header, #footer{
		position:fixed;
		height: 130px;
		display:block;
		width: 100%;
		background: #333;
		z-index:9;
		text-align:center;
		color: black !important;
		padding: 20px 0 0 0;
		font-family: 'open sans',arial,sans-serif;
		font-size: 3em;
		background-color: white;
	}
	#footer {
		height: 30px !important;
		font-size: 1em !important;
		padding: 10px 0 0 0 !important;
	}

	#header{
		padding:0 !important;
		margin: 0 !important;
		top:0px;
  		font: 400 100px/1.3 'Arizonia', Helvetica, sans-serif;
  		color: #eceff1;
  		text-shadow: 4px 4px 0px rgba(0,0,0,0.1); 
	}
@font-face {
    font-family: rawFont;
    src: url(./edosz.ttf);
}
@font-face {
    font-family: augustFont;
    src: url(./Brannboll.ttf);
}
h1.header {
	text-align: center;
}
span.raw {
	font-family: rawFont;
	margin-left: .3em;
	font-size: 1em;
	letter-spacing: 4px;
}
span.august {
	font-family: augustFont;
	font-size: 1em;
	letter-spacing: 4px;
}
body {
	text-rendering: optimizeLegibility;
}
