@media screen and (max-device-width: 1010px)  {
  div.logos img {
    width: 5% !important;
  }
  span.symbol, span.raw, span.august {
    font-size: .8em !important;
  }
  .icon {
    top: 0px !important;
    left: 0px !important;
  }
  .bx-wrapper {
    width: 95% !important;
    margin: auto !important;
  }
  #header {
    height: 220px !important;
  }
}


  @font-face {
  	font-family: rawFont;
  	src: url(../font/edosz.ttf);
  }
  @font-face {
  	font-family: augustFont;
  	src: url(../font/Brannboll.ttf);
  }
  @font-face {
  	font-family: Agency_FB;
  	src: url(../font/Agency_FB.ttf);
  }
  span.symbol {
  	font-family: Agency_FB;
  	font-size: 1.2em;
  	margin-right: .2em;
  	margin-left: .2em;
  }
  span.raw {
  	font-family: rawFont;
  	margin-left: .3em;
  	font-size: 1.2em;
  	letter-spacing: 4px;
  }
  span.august {
  	font-family: augustFont;
  	font-size: 1.2em;
  	letter-spacing: 4px;
  }
  body {
  	text-rendering: optimizeLegibility;
  }
  @font-face {
  	font-family: 'Open Sans';
  	font-style: normal;
  	font-weight: 400;
  	src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
  }
  .section {
  	text-align: center;
  }
  /* Look at that mess... Looks good though*/
  #header {
  	height: 250px;
  	display: block;
  	width: 100%;
  	z-index: 9;
  	text-align: center;
  	font-size: 3em;
  	padding: 0 !important;
  	margin: 0 !important;
  	top: 0px;
  	font: 400 100px/1.3 'Arizonia', Helvetica, sans-serif;
  	color: black;
  	text-shadow: 4px 4px 0px rgba(0,0,0,0.2);
  }
  div.logos {
  	position: relative;
  	top: -30px;
  }
  div.wrapper {
  	position: relative;
    margin-bottom: 50px;
  }


  /* ----------------------  Menu  -------------------------` */
  * {
    font-family: 'helvetica nue', sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    /* For some Androids */
  }

  .top-animate {
    background: black !important;
    top: 13px !important;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .mid-animate {
    opacity: 0;
  }

  .bottom-animate {
    background: black !important;
    top: 13px !important;
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
  }

  .top-menu {
    top: 5px;
    width: 25px;
    height: 2px;
    border-radius: 10px;
    background-color: #F9A530;
  }

  .mid-menu {
    top: 13px;
    width: 25px;
    height: 2px;
    border-radius: 10px;
    background-color: #F9A530;
  }

  .bottom-menu {
    top: 21px;
    width: 25px;
    height: 2px;
    border-radius: 10px;
    background-color: #F9A530;
  }

  .menui {
    background: black;
    transition: 0.6s ease;
    transition-timing-function: cubic-bezier(.75, 0, .29, 1.01);
    margin-top: 10px;
    position: absolute;
  }

  .icon {
    z-index: 999;
    position: fixed;
    display: block;
    padding: 9px;
    height: 50px;
    width: 50px;
    margin: 0px;
    top: 150;
    left: 50px;
    color: black !important;
  }

  .mobilenav {
    font-family: inherit;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(221,221,221, 0.9);
  }

  .mobilenav li {
    list-style-type: none;
    text-align: center;
    padding: 50px;
    border-bottom: 1px solid black;
    border-bottom-width: 2px;
    width: 500px !important;
    margin: auto;
  }

  .mobilenav li a {
    font-size: 150%;
    color: black;
    text-decoration: none;
    font-weight: 300;
    width: 100%;
  }

  .mobilenav li:first-child {
    margin-top: 60px;
  }

